# Ignore compiled files
*.o

# Ignore datasets
datasets/

# Ignore notebooks
*.ipynb

# Ignore python outputs
__pycache__/

_x.sw_emu*
_x*
.Xil
*.log
host.cpp
/BlackScholes
build_dir*
.vscode/
/.run
*.jou